*{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

/*scrollbar========================================*/
*::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}



*::-webkit-scrollbar-track {
  background: none;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #C2C2C2;    /* color of the scroll thumb */
  border-radius: 5px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: white;    /* color of the scroll thumb */

}

body, html{
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}


h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
}
h2{
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  text-decoration: underline;
}
h3{
  font-family: 'VT323', monospace;
  font-size: 1.5em;
}

h4{
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
}


p{
  font-family: 'Ubuntu', sans-serif;
}



button{
  background: black;
  border: 1px solid;
  display: flex;
  justify-content: center;
}




#camera{
  overflow: hidden;
  background:none;
  margin: 5% auto 0 auto;
  border-top: 24px;
  border-bottom: 0px;
  border-left: 6px;
  border-right: 6px;
  border-style: solid;
}


li{
  list-style: none;
}















.console{
  position: absolute;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.console nav{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.console nav h2{
  margin: 0 0 10px;

}

.console nav button{
  margin: 0 10px 0 10px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  background: none;
  border: none;
  color: rgb(205, 205, 205);
  -webkit-transition: color 0.3s, font-size 0.3s;
       -moz-transition: color 0.3s, font-size 0.3s;
         -o-transition: color 0.3s, font-size 0.3s;
            transition: color 0.3s, font-size 0.3s;

}.console nav button:hover{
  font-size: 1.2em;
  color: white;
}



.console main{
  width: 100%;
  height: 100%;
  margin: 0%;
  flex-direction: column;
}
.console .menu{
  margin: 40% auto;
}

.console li{
  margin-top: 10px;
  padding: 10px;
  font-size: 1em;
  color: rgb(205, 205, 205);
  -webkit-transition: color 0.3s, font-size 0.3s;
       -moz-transition: color 0.3s, font-size 0.3s;
         -o-transition: color 0.3s, font-size 0.3s;
            transition: color 0.3s, font-size 0.3s;

}.console li:hover{
  font-size: 1.5em;
  color: white;
}





.console .consoleUser img{
  margin: 20px;
}






#cmdLine{
  width: 100%;
  height: 20px;
  margin-top: 490px;
  position: absolute;
  background: none;
  border: none;
  border-top: 1px solid;
}


















.terminalCntr{
  background-color: black;
  border-bottom: 1px dashed;
}















#camera canvas{
  background-repeat: repeat;
}















.speechBox{
  height: 150px;
  background: rgb(255,255,255);
background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(0,0,0,0.6895133053221288) 16%, rgba(0,0,0,0.8491771708683473) 31%);
background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(0,0,0,0.6895133053221288) 16%, rgba(0,0,0,0.8491771708683473) 31%);
background: linear-gradient(rgba(255,255,255,0) 0%, rgba(0,0,0,0.6895133053221288) 16%, rgba(0,0,0,0.8491771708683473) 31%);
  z-index: 10;
  margin: auto;
  position: relative;
  display: flex;


}

.speechBox figure{
  width: 128px;
  height: 128px;
  margin: 11px;
  border: 1px solid;
}
.speechBox p{
  width: 75%;
  height: 100px;
  margin: 39px auto;
  overflow-y: scroll;
  overflow-x: hidden;
}












button[name='mainMenuBtn']{
  width: 100px;
  height: 30px;
  margin: 6% auto;
  border: none;
  background: none;
  color: rgb(205, 205, 205);
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8em;
  -webkit-transition: color 0.3s, font-size 0.3s;
       -moz-transition: color 0.3s, font-size 0.3s;
         -o-transition: color 0.3s, font-size 0.3s;
            transition: color 0.3s, font-size 0.3s;
}button[name='mainMenuBtn']:hover{
  color: white;
  font-size: 1.2em;

}


#mainMenu{
  display: flex;
  flex-direction: row;
  height: 20%;
  border: 6px solid;
  margin: 0 auto;
  justify-content: center;
}

#mainMenu div{
  display: flex;
  justify-content: center;
  margin:auto;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

#mainMenu > div > h3{
  color: rgb(150,150,150);
  text-align: center;
  justify-content: center;
}

#mainMenu div[name='1/3']{
  width: 33%;

}

#mainMenu > div > button[name='mainMenuBtn']:nth-child(1):hover{
  color: #53d39b;
}#mainMenu > div > button[name='mainMenuBtn']:nth-child(2):hover{
  color: #fbb041;
}#mainMenu > div > button[name='mainMenuBtn']:nth-child(3):hover{
  color: #A459FF;
}#mainMenu > div > button[name='mainMenuBtn']:nth-child(4):hover{
  color: #ee2d7b;
}
