*{
  margin: 0px;
  padding: 0px;
}
*::-webkit-scrollbar {
  width: 10px;
  z-index: 200;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: black;    /* color of the scroll thumb */
  border-radius: 0px;       /* roundness of the scroll thumb */
  border: 6px solid white;  /* creates padding around scroll thumb */
}
body{
  width: 100%;
  height: auto;
}

nav{
  width: 100%;
}

nav h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5;
  font-weight: normal;
  text-align: center;
  padding: 2%;
}
#galleryWindow{
  width: 80%;
  height: 500px;
  margin: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  top: 35%;
  left:50%;
  right: 50%;
  transform:translate(-50%, -50%);
  margin-top: 20px;
  z-index: -500;
}

#galleryWindow div{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}


#galleryWindow figure{
  padding: 30px;
  margin: 30px 4% 20% 4%;
  background-size: 100%;
  background-repeat: no-repeat;
}

figcaption{
  margin-top: 13%;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

#galleryWindow img{
  width: 250px;
  height: auto;
  margin: 2% 4% 6% 4%;
  margin: auto;

}

#walkway{
  width: 20%;
  height: auto;
  margin: 15% auto 0 auto;
  z-index: 1000;

}



#characterCntr{
  height: 120px;
  background-size: 100px auto;
  background-repeat: no-repeat;
}





/*text Box=======================*/

#textBox{
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 1000px;
  min-width: 300px;
  margin: auto;
  width: 40%;
}

#textBox article{
  margin-top: 30px;
}

#textBox h1{
  min-height: 45px;
  font-family: 'Press Start 2P', cursive;
  font-weight: normal;
  font-size: 1em;
}



#moveBtnCntr{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

#moveBtnCntr div{
  margin: auto;
}

#moveBtnCntr > div.topArrowCntr{
  margin-bottom: 5px;
}

#moveBtnCntr button{
  width: 45px;
  height: 45px;
  border-top: 1px solid;
  border-bottom: 3px solid;
  border-left: 1px solid;
  border-right: 3px solid;
  border-radius: 5px;
  font-family: 'VT323', monospace;
  font-size: 2em;
}

#moveBtnCntr > div.shiftCntr{
  margin-top: 10px;
}

#moveBtnCntr > div.shiftCntr > button{
  width: 90px;
}
